*{
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

:root{
    --darkpink: #c71585;
    --grey: #696969;
    --offwhite: #DCDCDC;
}

body{
    padding:0;
    margin: 0;
    background: linear-gradient(to right, var(--grey), var(--darkpink));
}

.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator > button{
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid white;
    background-color: var(--offwhite, .75);
}
.twospaces {
    grid-column: span 2;
}
.displayed{
    grid-column: 1 / -1;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.displayed .lineone{
    color: var(--offwhite);
    font-size: 1.5em;
}
.displayed .linetwo{
    color: white;
    font-size: 2.5em;
}

